:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --third-color: #ffffff;
  --accent-color: #2196f3;
  --modal-btn-color: #188ce8;
  --bgd-color: #f5f4fa;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.conteiner {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
  .header {
    display: flex;
    align-items: center;
  }
}

.logo-web {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo-white {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

@media screen and (min-width: 1200px) {
  .logo-web {
    font-size: 26px;
    line-height: 1.192;
  }
  .logo-black {
    font-size: 26px;
    line-height: 1.192;
  }
  .logo-white {
    font-size: 26px;
    line-height: 1.192;
  }
}

.title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .title {
    font-size: 28px;
    line-height: 1.179;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .backdrop {
    padding: 0 15px;
  }
  .backdrop .modal {
    max-width: 450px;
  }
  .backdrop .modal-policy-field {
    display: flex;
    flex-wrap: wrap;
  }
}

.modal {
  position: relative;
  top: 92px;
  translate: scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  height: 609px;
  background-color: var(--third-color);
  padding: 40px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--third-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.close-svg {
  width: 18px;
  height: 18px;
}

.close-btn:hover .close-svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-message {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-form-message::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 16px;
  outline: 2px solid var(--main-color);
  margin-right: 8px;
  cursor: pointer;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/studio/svg/modal-form-icon/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.modal-form-policy-link {
  color: var(--accent-color);
  cursor: pointer;
}

.modal-form-btn {
  align-self: flex-start;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--modal-btn-color);
  cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal-form-policy-description {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-title {
    font-size: 20px;
    line-height: 1.15;
  }
  .modal-form-policy-description {
    font-size: 14px;
    line-height: 1.71;
  }
}

.navigation-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 52px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.address-mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail-link:hover, .address-mail-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.address-mail-link-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail-link:hover .address-mail-link-svg {
  fill: var(--accent-color);
  cursor: pointer;
}

.address-tel-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel-link:hover, .address-tel-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.address-tel-link-svg {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel-link:hover .address-tel-link-svg {
  fill: var(--accent-color);
  cursor: pointer;
}

.underline {
  color: var(--accent-color);
}

.underline::after {
  position: absolute;
  bottom: -8px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #ececec;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button:hover .icon-cross {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .menu-button:hover .icon-menu {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .menu-conteiner {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-conteiner.is-open {
    display: block;
  }
  .navigation-list {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .navigation-list-item {
    display: flex;
    justify-content: center;
  }
  .navigation-list-link {
    position: relative;
  }
  .address-mail-link, .address-tel-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 12px 0;
    border-bottom: 1px solid #ececec;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: flex;
    margin-right: 88px;
  }
  .menu-button {
    display: none;
  }
  .menu-conteiner {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    position: relative;
    font-size: 14px;
    line-height: 1.143;
  }
  .address {
    margin-left: 75px;
  }
  .address-mail-link, .address-tel-link {
    font-size: 12px;
    line-height: 1.167;
  }
  .address-mail-link-svg {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .address-tel-link-svg {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
  .address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .underline {
    color: var(--accent-color);
  }
  .underline::after {
    position: absolute;
    bottom: -27px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
    border-bottom: 1px solid #ececec;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    margin-right: 88px;
  }
  .menu-button {
    display: none;
  }
  .menu-conteiner {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    position: relative;
    font-size: 14px;
    line-height: 1.143;
  }
  .address {
    margin-left: 305px;
  }
  .address-mail-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .address-tel-link {
    display: flex;
    font-size: 14px;
    line-height: 1.143;
  }
  .address-mail-link-svg {
    width: 14px;
    height: 10px;
    margin-right: 10px;
  }
  .address-tel-link-svg {
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
  .address-list {
    display: flex;
  }
  .address-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .underline {
    color: var(--accent-color);
  }
  .underline::after {
    position: absolute;
    bottom: -32px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-desktop.jpg);
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(9, 11, 27, 0.4)), url(../images/studio/hero/bg-desktop@2x.jpg);
  }
}

.modal-btn {
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--modal-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.our-advantages {
  padding-top: 60px;
}

.our-advantages-icon-1::before {
  display: block;
  content: " ";
  width: 100%;
  height: 120px;
  background-color: var(--bgd-color);
  margin-bottom: 30px;
  background-image: url(../images/studio/svg/our-advantages-icon/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.our-advantages-icon-2::before {
  display: block;
  content: " ";
  width: 100%;
  height: 120px;
  background-color: var(--bgd-color);
  margin-bottom: 30px;
  background-image: url(../images/studio/svg/our-advantages-icon/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.our-advantages-icon-3::before {
  display: block;
  content: " ";
  width: 100%;
  height: 120px;
  background-color: var(--bgd-color);
  margin-bottom: 30px;
  background-image: url(../images/studio/svg/our-advantages-icon/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.our-advantages-icon-4::before {
  display: block;
  content: " ";
  width: 100%;
  height: 120px;
  background-color: var(--bgd-color);
  margin-bottom: 30px;
  background-image: url(../images/studio/svg/our-advantages-icon/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.our-advantages-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.our-advantages-text {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-advantages-icon-1::before {
    width: 100%;
  }
  .our-advantages-icon-2::before {
    width: 100%;
  }
  .our-advantages-icon-3::before {
    width: 100%;
  }
  .our-advantages-icon-4::before {
    width: 100%;
  }
  .our-advantages-subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-advantages-icon-1::before {
    width: 354px;
  }
  .our-advantages-subtitle {
    text-align: start;
  }
  .our-advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-advantages-list-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .our-advantages-list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-advantages {
    padding-top: 94px;
  }
  .our-advantages-subtitle {
    text-align: start;
  }
  .our-advantages-icon-1::before {
    width: 270px;
  }
  .our-advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-advantages-list-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .our-advantages-list-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .what-are-we-doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-are-we-doing {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .what-are-we-doing-list {
    display: flex;
    flex-wrap: wrap;
  }
  .what-are-we-doing-wpapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
  .what-are-we-doing-list-item {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .what-are-we-doing-list-item:nth-child(3n) {
    margin-right: 0;
  }
}

.our-team {
  padding-bottom: 60px;
  padding-top: 60px;
  background: var(--bgd-color);
}

.our-team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.our-team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.our-team-list-item {
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-social-list {
  display: flex;
  justify-content: center;
}

.our-team-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-list-link:hover {
  background-color: var(--accent-color);
}

.our-team-social-list-svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fiil 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-list-link:hover .our-team-social-list-svg {
  fill: var(--third-color);
}

.our-team-social-list-item {
  margin-bottom: 24px;
}

.our-team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team-list-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .our-team-list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team-list-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .our-team-list-item:nth-child(4n) {
    margin-right: 0;
  }
}

.regular-customers {
  padding-bottom: 60px;
  padding-top: 60px;
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
}

.regular-customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-list-link:hover {
  border-color: var(--accent-color);
}

.regular-customers-list-svg {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-list-link:hover .regular-customers-list-svg {
  fill: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .regular-customers-list-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .regular-customers-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .regular-customers-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular-customers-list-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .regular-customers-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .regular-customers-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .regular-customers-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .regular-customers-list-item {
    width: calc((100% - 150px) / 5);
    margin-right: 30px;
  }
  .regular-customers-list-item:nth-child(6n) {
    margin-right: 0;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo-footer {
    justify-content: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-side {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-side {
    display: flex;
    align-items: baseline;
  }
  .logo-footer {
    justify-content: start;
  }
}

.footer-address {
  margin-bottom: 60px;
}

.address-footer-list-item {
  display: block;
}

.address-footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer-map-link {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer-mail-link,
.address-footer-tel-link {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-address {
    justify-content: center;
    margin-bottom: 60px;
  }
  .address-footer-mail-link,
  .address-footer-tel-link {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    justify-content: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
  .address-footer-mail-link,
  .address-footer-tel-link {
    display: flex;
    justify-content: start;
  }
}

.join {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.footer-join-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item {
  width: calc((100% - 40px) / 4);
  margin-right: 10px;
}

.footer-social-list-item:nth-child(4n) {
  margin-right: 0;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover {
  background-color: var(--accent-color);
}

.footer-social-list-svg {
  width: 20px;
  height: 20px;
  fill: var(--third-color);
}

.footer-social-list-link:hover .footer-social-list-svg {
  fill: var(--third-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .join {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    justify-content: start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-form-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}

.footer-form-field {
  width: 100%;
}

.footer-form-input {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.143;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:hover {
  border: 1px solid #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  padding: 10px 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-modal-btn:hover, .footer-form-modal-btn:focus {
  background-color: var(--modal-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-form-modal-btn::after {
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url(../images/studio/svg/footer-form-modal-btn-icon/icon-send.svg);
  margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footer-form-field {
    width: 480px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */