.footer {
	background: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-footer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.logo-footer {
		justify-content: center;
	}
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
	.footer {
		&-side {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
		}
	}
}

@media screen and (min-width: 1200px) {
	.footer {
		&-side {
			display: flex;
			align-items: baseline;
		}
	}

	.logo-footer {
		justify-content: start;
	}
}
