:root {
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--main-color: #212121;
	--secondary-color: #757575;
	--third-color: #ffffff;
	--accent-color: #2196f3;
	--modal-btn-color: #188ce8;
	--bgd-color: #f5f4fa;
	--icon-color: #afb1b8;
}
